---
- name: Install Docker
  package:
    name: docker
    state: latest
  become: yes
- name: Create Docker group
  group:
    name: docker
    state: present
  become: yes
- name: Add user to Docker group
  user:
    name: "{{ ansible_user_id }}"
    append: yes
    groups:
      - docker
  become: yes