---
- include: oh-my-zsh.yml
- include: fzf.yml
- include: dotfiles.yml
- include: vim.yml
- include: neovim.yml
- include: docker.yml
  when: ansible_architecture == "x86_64"
- name: Is VSCode Installed
  command: which code
  register: check_vscode
  ignore_errors: yes
- include: vscode.yml
  when: check_vscode.stdout != ""